/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* Importing components */
@import url("components/sidebars.css");
@import url("components/badges.css");
@import url("components/chat.css");
@import url("components/messages.css");
@import url("components/avatar.css");

/* Importing layouts */
@import url("layouts/slack.css");

body {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
  font-family: inherit;
}
.padded {
  padding: 30px 0;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: row;
  }

  .chat {
    width: 100%;
  }

  .selected-link {
    margin-bottom: 40px;
  }

  .bars {
    grid-template-rows: 100px 1fr;
    grid-template-columns: 120px 1fr;
  }

  .badge {
    width: 20vw;
  }

  .badge p {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .message h6 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 16px;
  }

  .message p {
    margin-bottom: 20px;
    font-size: 12px;
  }
}


@media only screen and (max-width: 700px) {
  .message h6 {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 18px;
  }

  .message p {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
